# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media folder for uploaded files
media/

# Virtual environment
env/
venv/
myenv/

# VS Code
.vscode/

# MacOS files
.DS_Store

# PyCharm
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/

# pip files
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Node.js (if using with Django)
node_modules/

# Environment variables
.env

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Testing
*.pytest_cache/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# Static files (if generated)
staticfiles/
static/